/*Tags*/
body{
	background: #efefef;
	font-family: monospace;
	font-size:1.1em;
}

a{
	display: inline-block;
	padding: 2px;
	color:#666;
	font-weight:bold;
	text-decoration: none;
}

a:hover{
	
	color: #333;
	
}

td:first-child{border-right: 1px solid #ccc;}

footer{
	position:fixed;
	right:0;
	bottom:0;
	padding:3px;
	color:#777;
	font-size:0.8em;
}

label{
	display:block;
	boder-bottom: 1px solid #ccc;
	padding: 3px;
}
label span{
	display: block;
	cursor: pointer;
}
/*IDs*/
#changePW{
	width:190px;
	margin: 0 auto;
	border: 1px solid #ccc;
	
}
#tested,
#list{
	border: 1px solid #ccc;
	padding: 5px; 
	background: #fefefe;
	margin-bottom: 3px;
	background: #efefef;
	
}

#list div{
	display:block;
	padding:2px;
}

#start,
#pause{
	display: block;
	padding: 5px;
	cursor:pointer;
	border:1px solid #ccc;
	color: #555;
	width: 115px;
	text-align:center; 
}

#start:hover,
#pause:hover{
	border: 1px solid #666;
	color:#111;
}

#legend{
	color: #777;
	font-size:0.8em;
	border-bottom: 1px solid #ccc;
}
#container{
	width: 1000px;
	margin: 0 auto;
	
}
#reports{
	width: 200px;
	float:left;
	
}
#reports div {
	color: #333;
	cursor:pointer;
	margin-bottom: 3px;
}

#reports div:hover,
.selected {
	color: #3333FF;
	background:#bbb;
}

#report{
	width:800px;
	min-height:1000px;
	float:right;
	
}

#mainLink{
	display:block;
	margin-bottom: 4px;
	border-bottom: 1px solid #ccc;
}

#error{
	
	border: 1px solid red;
	width: 1000px;
	padding:10px;
	margin: 0 auto;
	
}

/*Classes*/
.email{
	width: 200px;
	height:150px;
	overflow: auto;
	border: 1px solid #ccc;
	margin-bottom: 3px;
	padding: 2px;
	float:left;
}

.subemail{
	font-weight: bold;
}

.breach{
	padding-left: 10px;
	
}

.good{color:green}
.bad{color:red}
.good::after {content: " \2714"}
.bad::after{content: " X"}
  
